@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
    font-family: 'TitleFont';
    src: url('/src/assets/fonts/AdineKirnbergAlternate-Yzx8.ttf') format('truetype'),
         url('/src/assets/fonts/AdineKirnbergRegular-rgX9.ttf') format('trutype');
    font-weight: normal;
    font-style: normal;
}
